.window{
    background-color: bisque;
    height: 400px;
    width: 400px;
    margin: 0;
    cursor: pointer;
    position: absolute;
}
#closeButtonWindow{
    background-color: red;
}
.memoryGamePics1{
    height: 50px;
    width: 50px;
}
.memoryGamePics2{
    height: 50px;
    width: 50px;
}
.memoryGamePics3{
    height: 50px;
    width: 50px;
}
.memoryGamePics4{
    height: 50px;
    width: 50px;
}
.memoryGamePics5{
    height: 50px;
    width: 50px;
}
.memoryGamePics6{
    height: 50px;
    width: 50px;
}
.memoryGamePics7{
    height: 50px;
    width: 50px;
}
.memoryGamePics8{
    height: 50px;
    width: 50px;
}
.picContainer{
    margin: auto;
    width: 200px;
}
#chatMainDiv{
    position: absolute;
    top: 10%;
    left: 10%;
}
.theMessageWindows{
margin: auto;
background-color: salmon;
width: 300px; 
height: 210px; 
overflow: scroll;
}
.chatInputArea{
    display: block;
    width: 300px; 
}
#alarmForm{
    position: absolute;
    top: 20%;
    left: 25%;
}
#alarmWarning{
    position: absolute;
    top: 70%;
    left: 0%;
    text-align: center;
    color: grey;
}
#setAlarmButton{
    width: 173px;
}
.alarmText{
    position: absolute;
    top: 20%;
    left: 5%;
    text-align: center;
    font-size: 55px;
    color: indigo;
}
#buttonContainer{
    position: absolute;
    top: 80%;
    left: 35%;
}
.icons{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0%;
    left: 90%;
}